# Documentation
HELP.md

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build.log
flattened-pom.xml

# IDEs
.idea/
*.iml
*.ipr
*.iws
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

# Build & Compilation
bin/
build/
lib/
out/
MANIFEST.MF

# Logs & Caches
*.log
.dump.rdb
.metadata/
.recommenders/
.git-hooks/

# Secrets & Config
secrets.yml
.env
.env.local
overridedb.*
activemq-data/

# Node (si applicable)
node_modules/
